<html>
	
	<head>
		
		<link rel = "icon" type = "image/png" href = "static/favicon.png">
		<link rel = "stylesheet" href = "static/stylesheets/upload.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
	
	</head>

	<body>

		<div class = "container">
			
			<div class = "header">
				
				<h1>Thumbnail Generation for Social Media Feeds</h1>
			
			</div>

			<div class = "subtitle">

				This project has two main purposes.<br>
				The first is to generate suitable image preview thumbnails for social media feeds.<br>
				The second is to highlight the outcomes of different approaches to acheiving this first task.<br>
				This project utilises two main technologies: classifiers and neural networks.<br>
				The classifier solutions are listed on the left, and the neural networks are listed on the right.<br>

			</div>

			<div class = "form-container">

				<form action = "/" method = "POST" enctype="multipart/form-data" class = "upload-form">

					<div class = "radio-select-1">

						<h3>Compare</h3>
						<select name = "firstmethod" id = "firstmethod">
							<option value = "haar">HAAR Cascade</option>
							<option value = "lbp">LBP Cascade</option>
							<option value = "lbp2">LBP Improved Cascade</option>
							<option value = "caffe">CAFFE Model</option>
						</select>
	
					</div>
					
					<div class = "custom-file">

						<label class = "form-header">Select image</label><br>
					
						<input type = "file" class = "custom-file-input" name = "image" id = "image">
						
					</div>

					<div class = "radio-select-2">

						<h3>Against</h3>
						<select name = "secondmethod" id = "secondmethod">
							<option value = "haar">HAAR Cascade</option>
							<option value = "lbp">LBP Cascade</option>
							<option value = "lbp2">LBP Improved Cascade</option>
							<option value = "caffe">CAFFE Model</option>
						</select>
	
					</div>

					<div>
						<input type = "range" min = "0" max = "100" value = "50" class = "confidence" id = "slider" name = "confidence">
						<p>Neural Network Confidence Threshold: <span id="display"></span></p>
					</div>

					<button type = "submit" class = "btn btn-primary">Upload</button>

				</form>

			</div>

			<div class = "form-container">
				
				<div class = "result-container-1" id = "classimageframe">

					<h2>Result 1</h2>
					
					<img id = "classsourceimage">
				
				</div>

				<div class = "result-container-2" id = "neurimageframe">

					<h2>Result 2</h2>
					
					<img id = "neursourceimage">
				
				</div>
			
			</div>
			
		</div>

		<script type = "text/javascript" src = "static/scripts/showProcessedImage.js"></script>
		<script type = "text/javascript" src = "static/scripts/showSliderRange.js"></script>

	</body>

</html>