<html>
	
	<head>
		
		<link rel = "icon" type = "image/png" href = "static/favicon.png">
		<link rel = "stylesheet" href = "static/stylesheets/upload.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
	
	</head>

	<body>

		<div class = "container">
			
			<div class = "header">
				
				<h1>Thumbnail Generation for Social Media Feeds</h1>
			
			</div>

			<div class = "subtitle">

				This project has two main purposes.<br>
				The first is to generate suitable image preview thumbnails for social media feeds.<br>
				The second is to highlight the outcomes of different approaches to acheiving this first task.<br>
				This project utilises two main technologies: classifiers and neural networks.<br>
				The classifier solutions are listed on the left, and the neural networks are listed on the right.<br>

			</div>

			<div class = "form-container">

				<form action = "/" method = "POST" enctype="multipart/form-data" class = "upload-form">

					<div class = "radio-select-1">

						<h3>Classifier Cascade</h3>
						<input type = "radio" id = "haar" name = "classvalue" value = "haar">HAAR<br>
						<input type = "radio" id = "hopt" name = "classvalue" value = "lbp">LBP<br>
						<input type = "radio" id = "hotm" name = "classvalue" value = "lbp2">LBP Improved<br>
	
					</div>
					
					<div class = "custom-file">

						<label class = "form-header">Select image</label><br>
					
						<input type = "file" class = "custom-file-input" name = "image" id = "image">
						
					</div>

					<div class = "radio-select-2">

						<h3>Neural Network Training Set</h3>
						<input type = "radio" id = "neur1" name = "neurvalue" value = "neur1">Neural Network 1<br>
						<input type = "radio" id = "neur2" name = "neurvalue" value = "neur2">Neural Network 2<br>
						<input type = "radio" id = "neur3" name = "neurvalue" value = "neur3">Neural Network 3<br>
	
					</div>

					<button type = "submit" class = "btn btn-primary">Upload</button>

				</form>

			</div>

			<div class = "form-container">
				
				<div class = "result-container-1" id = "classimageframe">

					<h2>Classifier Result</h2>
					
					<img id = "classsourceimage">
				
				</div>

				<div class = "result-container-2" id = "neurimageframe">

					<h2>Neural Network Result</h2>
					
					<img id = "neursourceimage">
				
				</div>
			
			</div>
			
		</div>

		<script type = "text/javascript" src = "static/scripts/showProcessedImage.js"></script>

	</body>

</html>