* { /* This disable all CSS transitions (Bad Chrome, bad!) */
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
}

a {
	color: #ff3f75;
	text-decoration: none;
}

.container {
	padding-bottom: 50px;
}

.custom-file-container {
	float: left;
	width:34%;
}

.custom-file-input {
	color: white;
}

.form-container {
	font-family: 'Lato', sans-serif;
	border: 2px solid #303030;
	background-color: #202020;
	line-height: 2em;
	width: 65%;
	margin: auto;
	padding: 10px;
	text-align: center;
	overflow: auto;
	color:#c9476c;
}

.form-header {
	font-family: 'Roboto', sans-serif;
	color: white;
}

/* Set some default dimensions */
html, body {
	height: 100%;
	background-color: #141414;
	scroll-behavior: smooth;
}

.header-container {
	font-family: 'Oswald', sans-serif;
	text-align: center;
  	top: 50%;
	left: 50%;
	color: #ff3f75;  
}

.result-1-container {
	font-family: 'Lato', sans-serif;
	border: 0px;
	line-height: 2em;
	width: 50%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	float: left;
}

.result-2-container {
	font-family: 'Lato', sans-serif;
	border: 0px;
	line-height: 2em;
	width: 50%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	float: right;
}

.dropdown-container {
	float: left;
	width: 33%;
}

.subtitle-container {
	font-family: 'Oswald', sans-serif;
	color: white;
	text-align: center;
	top: 70%;
	left: 50%;
	padding-bottom: 20px;
}

.slider {
	-webkit-appearance: none;
	width: 20%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #c9476c;
	cursor: pointer;
  }
  
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #c9476c;
	cursor: pointer;
  }

.upload-form {
	margin: 0px
}